html, body {
    height: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    background-image: url('background.jpg'); 
    background-position: center; 
    color: #eaeaea;
    margin:0 10px;
    
}
header{
    color: #f1c40f;
    font-weight: bold; 
  text-align: center;
}
button {
    background-color: #000000; 
    color: f1c40f; 
    padding: 10px 20px; 
    border: none; 
    font-size: 30px; 
    font-weight: bold;
}
#batman-link {
    color: #f1c40f; 
}
  
a {
    color: #f1c40f; 
    text-decoration: none; 
}

nav ul {
    list-style-type: none;
    padding: 7px;
    display: flex;
    justify-content: center;
    background-color: #333;
    margin: 0 300px;
    border-radius: 10px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #f1c40f;
    padding: 6px;

}

nav ul li a:hover {
    background-color: #444;
    border-radius: 7px;
}

main section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: rgba(44, 44, 44, 0.6); 
    border-radius: 10px;
    color: #eaeaea; 
}

main {
    flex: 1;
}

h2 {
    color: #f9d342; 
}


#img1, #img2 {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-right: 10px; 
}

blockquote {
    font-style: italic;
    border-left: 5px solid #f1c40f;
    padding-left: 10px;
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #f1c40f;
    margin-top: auto;
}




/*---------------------------
-----------------------------
-----------------------------
-----------------------------
-----------------------------*/






#contact-form {
    width: 60%;
    margin: 0 auto;
    padding: 30px;
    background-color: rgba(44, 44, 44, 0.6);
    border-radius: 15px;
}


#contact-form label {
    display: block;
    margin-bottom: 8px;
    color: #f1c40f;
    font-weight: bold;
}


#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    width: 96%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #444;
    color: #fff;
    resize: none;

}


#contact-form button[type="submit"] {

    padding: 12px 25px;
    background-color: #f1c40f;
    color: #000000;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}


